.font-family {
  font-family: 'Lato', sans-serif;
}
.d-inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.nav {
  border: 1px solid #ccc;
  border-width: 0 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /* box-sizing: inherit; */
}
.nav li {
  display: inline-block;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  /* box-sizing: inherit; */
  }
.nav a {
  display: inline-block;
  padding: 5px;
}
.radius {
  border: 2px solid #ccc;
  border-radius: 5px;
  border-width: 2px 2px 4px 2px;
}
.text-bold {
  font-weight: bold;
  font-size: 20px;
}
.text-blue {
  color: blue;
}
