<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customer list</title>
  </head>
  <body>
    <h2>Customer list</h2>
    {%  for customer in all_customer  %}
      <p>{{ loop.index }}</p>
      <p><i>{{ customer.id  }}</i></p>
      <p><b>{{ customer.name  }}</b></p>
      <p>{{ customer.gender }}</p>
      <p>{{ customer.email }}</p>
      <p>{{ customer.phone_number }}</p>
      <p>{{ customer.job }}</p>
      <p>{{ customer.company }}</p>
      <p>{{ customer.contacted }}</p>
    {%  endfor  %}

  </body>
</html>
