<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Create new service

    <form method = 'post'>

    <label>Tên</label>
    <input type="text" name="name" value="">

    <label>Năm sinh</label>
    <input type="text" name="yob" value="">

    <label>Số điện thoại</label>
    <input type="text" name="phone" value="">

    <input type="submit" name="" value="Thêm">
    </form>
    <!-- <form class="" action="index.html" method="post"> -->

    </form>
  </body>
</html>
