.d-inline-block {
  display: inline-block;
  width: 300px;
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: content-box;
  float: left;
  }
  .font-karma {
    font-family: 'Karma', serif;
  }
.container {
      position: relative;
      text-align: center;
      color: white;
  }
.float-left {
  float: left;
}
.float-right {
  float: right;
}
li {
  list-style: none;
}
header div h1 {
  position: absolute;
  top: 400px;
  left: 0px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  margin: 0;
  height: 60px;
  font-style: italic;
}
header div h3 {
  position: absolute;
  top: 460px;
  left: 0px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  margin: 0;
  height: 50px;
  font-style: italic;
}
.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
#sign-up {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 500px;
  text-align: left;
  box-sizing: inherit;
}
